.aside a {
    display: block;
    background-color: rgba(105,101,101,.6);
    color: #fff;
    font-size: 16px;
    height: 40px;
    width: 300px;
    text-decoration: none;
    text-indent: 50px;
    line-height: 40px;
}

.aside a:hover {
    background-color: #ff6700;
}

footer {
    font-size: 14px;
    color: #424242;
    list-style-type: none;
    height: 400px;
}