
           body
           {
               margin: 0px;
               padding: 0px;
               background: url(../img/12d88c406a25f0eda0f54d5349cdc0c3.jpg) no-repeat fixed  0px 0px;
               background-size: cover;
               
           }

        
           #loginbox
           {  
            font-family:Verdana, Geneva, Tahoma, sans-serif;
               text-align: center;
               margin: 10% auto;
               padding: 10px 30px;
               border-radius: 10px;
               width: 400px;
               height: 300px;
               background-color: rgba(38, 38, 38, 0.75);
           }

    #loginbox h1
    {
        color: whitesmoke;
    }

    #loginbox .inputbox
    {
        margin: 30px;
    }

    #loginbox .inputbox .inputtext
    {
        margin: 20px;
    }

    #loginbox .inputbox .inputtext input
    {
        border: 0px;
        padding: 5px 5px;
        border-bottom: 1px solid whitesmoke;
        background-color:#00000000;
        color:seashell;
    }

    #loginbox .link
    {
        text-align: end;
        font-size: 15px;
    }

    #loginbox .inputbox .inputbutton
    {
        border: 0;
        width: 80px;
        border-radius: 15px;
        margin-top: 15px;
    }