body
{
    background-image: url(../img/502997c6c932d8f8028954ee7fb88d2c.jpg);
    padding: auto;
}

#testindex
{
    width: 10px;
    height: 5px;
    background-color: lightgray;

}

.testindexinput
{
    background-color: lightgray;
    margin-top: 300px;
}